* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

.ant-float-btn-body {
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
